In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
!pip install sqlite3

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [3]:
import sqlite3

In [5]:
connection = sqlite3.connect('employeesdata.db')
connection

In [6]:
cursor = connection.cursor()

In [7]:
create_emp_table = """
CREATE TABLE IF NOT EXISTS Employee (
        EmployeeID INTEGER PRIMARY KEY,
        FirstName TEXT,
        LastName TEXT,
        Department TEXT,
        HireDate DATE
    );
"""

In [8]:
cursor.execute(create_emp_table)

In [9]:
connection.commit()

In [10]:
create_perf_table = """
CREATE TABLE IF NOT EXISTS PerformanceMetrics (
        MetricID INTEGER PRIMARY KEY,
        EmployeeID INTEGER,
        MetricDate DATE,
        SalesRevenue REAL,
        ProjectCompletionRate REAL,
        FOREIGN KEY (EmployeeID) REFERENCES Employees (EmployeeID)
    );
"""

In [11]:
cursor.execute(create_perf_table)

In [12]:
connection.commit()

In [13]:
cursor.execute("INSERT INTO Employee (FirstName, LastName, Department, HireDate) VALUES ('John', 'Doe', 'Sales', '2022-01-15');")

In [16]:
connection.commit()

In [14]:
cursor.execute("Select * from Employee")

In [15]:
employees = cursor.fetchall()
employees

[(1, 'John', 'Doe', 'Sales', '2022-01-15')]

In [ ]:
!pip install Faker

In [17]:
from faker import Faker
import random

In [18]:
fake = Faker()

In [27]:
fake.first_name()

'Margaret'

In [29]:
new_emp_data = []

for i in range(10):
    first_name = fake.first_name()
    last_name = fake.last_name()
    dept = ["Sales","Marketing","Admin"]
    department = random.choice(dept)
    hire_date = fake.date_of_birth(minimum_age=22,maximum_age=60).strftime('%Y-%m-%d')
    
    new_emp_data.append((first_name,last_name,department,hire_date))

In [30]:
new_emp_data

[('Stephen', 'Reed', 'Sales', '1974-12-26'),
 ('Wendy', 'Thomas', 'Sales', '1969-11-15'),
 ('Nina', 'Contreras', 'Admin', '1965-06-08'),
 ('Gregory', 'Sanchez', 'Sales', '2000-01-01'),
 ('William', 'Thompson', 'Sales', '1975-01-01'),
 ('Kaitlyn', 'Tucker', 'Admin', '1970-11-25'),
 ('Andrew', 'Ashley', 'Admin', '1962-09-20'),
 ('Ashley', 'Gonzalez', 'Admin', '1968-09-24'),
 ('Monica', 'Dougherty', 'Sales', '1988-11-16'),
 ('Nancy', 'Peterson', 'Sales', '2000-06-10')]

In [31]:
insert_query = "INSERT INTO Employee (FirstName, LastName, Department, HireDate) VALUES (?,?,?,?);"

In [32]:
connection.executemany(insert_query,new_emp_data)

connection.commit()

In [33]:
cursor.execute("Select * from employee")

cursor.fetchall()

[(1, 'John', 'Doe', 'Sales', '2022-01-15'),
 (2, 'Stephen', 'Reed', 'Sales', '1974-12-26'),
 (3, 'Wendy', 'Thomas', 'Sales', '1969-11-15'),
 (4, 'Nina', 'Contreras', 'Admin', '1965-06-08'),
 (5, 'Gregory', 'Sanchez', 'Sales', '2000-01-01'),
 (6, 'William', 'Thompson', 'Sales', '1975-01-01'),
 (7, 'Kaitlyn', 'Tucker', 'Admin', '1970-11-25'),
 (8, 'Andrew', 'Ashley', 'Admin', '1962-09-20'),
 (9, 'Ashley', 'Gonzalez', 'Admin', '1968-09-24'),
 (10, 'Monica', 'Dougherty', 'Sales', '1988-11-16'),
 (11, 'Nancy', 'Peterson', 'Sales', '2000-06-10')]

In [34]:
import pandas as pd

data = pd.read_csv(r"C:\Users\Admin\Downloads\Indian Airlines.csv")

In [35]:
conn = sqlite3.connect("airlines.db")

In [36]:
?data.to_sql

In [37]:
data.to_sql("airlines_table",con=conn,if_exists="replace",index=False)

300153

In [38]:
conn.close()